# 문자열 포매팅

In [1]:
a = 100
name = '홍길동'
"%s 는 %d" %(name, a)

'홍길동 는 100'

In [11]:
#순서대로 치환
print("{} 는 {}".format(name, a))

#순서를 부여
print("{1} 는 {0}".format(name, a))
print("{1} 는 {1}".format(name, a))

#키워드를 부여
print("{myname} 는 {age}".format(age=a, myname=name))

#자리수 지정
print("{:5s} 는 {:3d}".format(name, a))

홍길동 는 100
100 는 홍길동
100 는 100
홍길동 는 100
홍길동   는 100

In [14]:
print(f"{name}은 {a}")

#함수사용가능
print(f"{name}의 이름길이는 {len(name)}")

#연산가능
print(f"{name}은 {a+a}")

홍길동은 100
홍길동의 이름길이는 3
홍길동은 200

In [23]:
s = "홍길동"
s1 = "홍길동123"

print("길이",len(s))
print(s.isalpha(), s1.isalpha())

print("길동의 위치", s.index("길동"))
#ValueError 발생시 try 문 사용
#print("1의 위치", s.index("1"))

길이 3
True False
길동의 위치 1

In [24]:
#앞뒤 공백문자 제거
" 홍 길 동 ".strip()

'홍 길 동'

In [25]:
#" "를 ""로 변환
" 홍 길 동 ".replace(" ","")

'홍길동'

In [28]:
s = "300"
#s+100 오류 -> 문자열 + 숫자 이기때문

int(s)+100

400

In [30]:
s="1,300"
int(s.replace(",",""))+100

1400

In [31]:
# sep사용
print(a, name)
print(a, name, sep="_")

100 홍길동
100_홍길동

In [36]:
# end사용
print(a, name, end="     ", sep= "-")
print(a, name, sep="_")

100-홍길동     100_홍길동

In [40]:
#input
ans = input("태어난 연도를 입력하세요 : ")
display(ans) #문자열로 저장
print(2022-int(ans))

태어난 연도를 입력하세요 : 1997

'1997'

25