In [7]:
a = 5
이름 = "홍길동"

In [10]:
#주석문은 샵
#값출력 함수
#문자열 출력시 print는 값만 출력 display는 따옴표를 붙여줌

print(이름) #일반적으로 사용

display(이름) #디버깅할때 사용. 따옴표를 보고 문자열인지 확인

홍길동

'홍길동'

In [13]:
#파이썬은 정수의 크기 제약이 없다.
c=10000 #만
print(c)
c = c*10000 #억
print(c)
c = c* 10000 #조
print(c)
c = c* 10000 #경
print(c)
c = c* 10000 #해
print(c)
c = c* c  #???
print(c)

10000
100000000
1000000000000
10000000000000000
100000000000000000000
10000000000000000000000000000000000000000

In [17]:
#10진수
a = 100
#2진수
b = 0b100
#8진수
c = 0o100
#16진수
d = 0x100

4

In [19]:
#비교 연산자
print(4<5)

True

In [27]:
#공백문자 -> True
bool(0), bool(""), bool(None), bool( [] )

(False, False, False, False)

In [67]:
#작성 날짜  YYYYMMDD
dt = 20220302 #2022년 3월2일
y = dt//10000 #몫 계산
print(y)
m = dt%10000//100
print(m)
d = dt %100
print(d)

2022
3
2

In [52]:
name = "Hello"
print(name)   #일반적인 출력용
display(name) #디버깅용

Hello

'Hello'

'Hello'

In [54]:
a = 100
a
b = 200
b

200

In [58]:
poem = """구름에 달가듯 가는 나그네
길은 외줄기
남도 삼백리"""
print(poem)

구름에 달가듯 가는 나그네
길은 외줄기
남도 삼백리

In [66]:
s = "홍길동"
s *2

'홍길동홍길동'

In [61]:
s+s

'홍길동홍길동'

In [62]:
s+2 #오류

TypeError: can only concatenate str (not "int") to str

In [68]:
#예제
a = "210101-1234567"
print(a[7])
b = "20210101Sunny"
date = b[:8]
weather = b[-5:]
print(date)
print(weather)

1
20210101
Sunny

In [73]:
a = 100
name = "홍길동"
'%s is %s' %(name, a) #() => 튜플

'홍길동 is 100'

In [76]:
pi = 3.141592
'pi=%6.3f' %pi #6.2f => 6 = 전체 자리수(.포함), 3은 소수점 자리수(반올림한 계산)

'pi= 3.142'