In [1]:
import pandas as pd

url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
covid = pd.read_csv(url)
covid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175981,ZWE,Africa,Zimbabwe,2022-03-29,246042.0,115.0,193.857,5439.0,1.0,1.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
175982,ZWE,Africa,Zimbabwe,2022-03-30,246182.0,140.0,174.857,5440.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
175983,ZWE,Africa,Zimbabwe,2022-03-31,246286.0,104.0,156.000,5444.0,4.0,1.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
175984,ZWE,Africa,Zimbabwe,2022-04-01,246414.0,128.0,109.857,5444.0,0.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
175985,ZWE,Africa,Zimbabwe,2022-04-02,246481.0,67.0,119.429,5446.0,2.0,1.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [7]:
# 한국 데이터
KOR = covid['iso_code']=="KOR"
covid_kor = covid[KOR]
covid_kor

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
147356,KOR,Asia,South Korea,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
147357,KOR,Asia,South Korea,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
147358,KOR,Asia,South Korea,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
147359,KOR,Asia,South Korea,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
147360,KOR,Asia,South Korea,2020-01-26,3.0,1.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,43.4,0.17,2.47,0.845918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148153,KOR,Asia,South Korea,2022-03-29,12774956.0,424528.0,335387.000,15855.0,432.0,346.143,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
148154,KOR,Asia,South Korea,2022-03-30,13095631.0,320675.0,324685.000,16230.0,375.0,332.571,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
148155,KOR,Asia,South Korea,2022-03-31,13375818.0,280187.0,316226.571,16590.0,360.0,328.000,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
148156,KOR,Asia,South Korea,2022-04-01,13639915.0,264097.0,306029.143,16929.0,339.0,330.286,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
148157,KOR,Asia,South Korea,2022-04-02,13874216.0,234301.0,294053.571,17235.0,306.0,333.714,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN